# Broker MQTT en el servidor cloud
EC2_HOST=your_ec2_ip_or_domain_here
MQTT_PORT=1883
MQTT_TOPIC=casa/salon/sensores

# Buffer local (store-and-forward)
LOTE=50

DRON_ID=XXX
POS_FILE=./posicion_actual.json